*{
    box-sizing: border-box;
}
.container{width: 300px;
    overflow: hidden;
margin: 50px auto 0 auto;

}
.container span{
    width: 100%;
    display: block;
    text-align: center;
    font-family:sans-serif ;
    color: #fff;
    background: #446cB3;
}

.container .box:hover{
    background: rgba(10, 10, 10, 0.5);
    color: #fff;
}

button{
    background: #26C281;
    color: #fff;
    border: 1px solid yellow;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
    height: 40px;
    font-size: 22px;
    display: block;
    margin: 10px auto;
}

.win{
    background: #F9690E; color: #fff;
}

